@page
@using AirQualityMonitor.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3>Check the air quality in your city</h3>
    @(await Html.RenderComponentAsync<FindYourCity>(RenderMode.ServerPrerendered))
</div>

<script src="_framework/blazor.server.js"></script>
